;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0-rc1"]
  [org.clojure/data.xml "0.0.8"]
  [clj-tagsoup/clj-tagsoup "0.3.0"]
  [keybind "2.2.0"]
  [cljs-ajax "0.8.0"]
  [meander/delta "0.0.149"]
  [thi.ng/color "1.3.0"]
  [thi.ng/geom "1.0.0-RC3"]
  [org.clojure/core.async "1.2.603"]
  [re-frame "1.1.2"]
  [day8.re-frame/re-frame-10x "0.7.0"]
  [day8.re-frame/async-flow-fx "0.1.0"]
  [day8.re-frame/http-fx "v0.2.0"]
  [day8.re-frame/tracing "0.5.3"]
  [cider/cider-nrepl "0.25.5"]
  [binaryage/devtools "1.0.2"]
  [refactor-nrepl "2.5.0"]
  [hiccup "1.0.5"]
  [etaoin "0.3.6"]
  [stylefy "1.14.1"]
  [bidi "2.1.6"]
  [kibu/pushy "0.3.8"]
  [bardo "0.1.2-SNAPSHOT"]
  [mount "0.1.16"]
  [baskeboler/chart-cljs "1.0.1"]
  ;; [org.mongodb/mongodb-driver-sync "3.12.3"]
  [com.novemberain/monger "3.5.0"]]

 :nrepl {:port 9999}

 :builds
 {:app {:target           :browser
        :build-hooks      [(build/setup-target-dir)
                           (build/generate-seo-pages)]
        :output-dir       "public/js"
        :build-options    {:cache-level :on}
        :compiler-options {:static-fns          true
                           ;; :output-feature-set  :es-next
                           :infer-externs       :auto
                           :optimize-constants  true
                           :pretty-print        false
                           :optimization        :advanced
                           :strip-type-prefixes #{"cljs.pprint"}}
        :module-loader    true
        :modules          {:main  {:entries [cljs-karaoke.app]
                                   :init-fn cljs-karaoke.app/init!}
                           ;; :editor {:entries [cljs-karaoke.editor.core
                           ;; cljs-karaoke.editor.subs
                           ;; cljs-karaoke.editor.view
                           ;; :depends-on #{:main}}
                           :mongo {:entries    [cljs-karaoke.mongo]
                                   :depends-on #{:main}}}
        :asset-path       "/js"
        
        :dev-http {8089 "public/"}
        :devtools {
                   :http-port      8089
                   :http-handler   shadow.http.push-state/handle
                   :http-root      "public"
                   :watch-dir      "resources"
                   :preloads       [devtools.preload day8.re-frame-10x.preload
                                    shadow.remote.runtime.cljs.browser]
                   ;; :after-load     cljs-karaoke.app/init!
                   :ignore-warning true}
        :dev      {:compiler-options
                   {:optimization :none
                    :closure-defines
                    {re_frame.trace.trace_enabled?                true 
                     "re_frame.trace.trace_enabled_QMARK_"        true
                     "day8.re_frame.tracing.trace_enabled_QMARK_" true
                     "goog.DEBUG"                                 true}}}}}}
