@charset "utf-8";
@import "./animista.scss";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// $primary: #9999ff;
// $warning: #ffff99;
// $danger: #ff99cc;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: 2px 2px 15px 0px $beige-light;


@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
/* @import url('https://fonts.googleapis.com/css?family=Chewy%7CFrijole%7CPlayfair+Display:400,700%7CNunito:400,70&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
html {
    overflow-y: auto;
    min-width: 240px;
    /* transform: translate3d(0,0,0); */
}
 
.button, .navbar-item {
  text-transform: capitalize;
}

.centered {
    /* position: absolute; */
    display: block;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
.screen-centered {
    position: fixed;
    display: block;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.top-left {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    margin: 2em 2em;
}

.top-right {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.roll-in-blurred-top {
  -webkit-animation: roll-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: roll-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.jello-vertical {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

.text-pop-up-bottom {
  -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

.slide-in-top{
    animation: slide-in-top 1s both;
}

.current-frame {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 90vw;

  /* transition: all 0.5s ease; */
  transform: translate(-50%, -50%);

  /* display: flex; */
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: $body-background-color;
  padding: 0.3em;
  border-radius: 1em;
}

.song-table {
  background-color: unset;
  color: black;
  text-shadow: 0 0 10px white;
}

.app-bg {
  /* display: inline; */
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/Dolphin.jpg") 50% 50%;
  background-size: cover;
}

.current-frame .frame-text {
  animation: puff-in-center 0.5s ease both;

  > span {
    display: inline-block;

    /* position: relative; */
    opacity: 0.6;

    /* transition: all 0.5s ease-in-out; */
    font-family: 'Raleway', cursive;
    font-weight: 400;
    color: black;

    /* transform: scale(1) translate(0px,0px); */
    /* transition: all 2s ease-out; */
    /* text-shadow:  -2px -2px 1px #eee; */

    &.highlighted {
      display: inline-block;
      color: red;

      /* opacity: 1; */
      /* transition: all 0.5s ease-in-out; */
      /* font-size: 1.05em; */
      /* transform: translate(10px, 50px); */
      -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
      animation: pulsate-fwd 0.5s ease-in-out both;

      /* animation: bounce-top 0.5s ease both; */

      .icon {
        color: black;
      }
    }
  }
}

.control-panel {
  /* transition: all 2s ease-out; */
  /* -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  /* animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  */

  &.song-playing {
    /* display: none; */
  }

  .menu {
      padding: 1em;
      background-color: white;
      opacity: 0.8;
      border-radius: 0.3em;
      .menu-list {
          li>a {
              text-transform: capitalize;
          }
      }
  }
}

.edge-stop-btn {
  display: none;

  &.song-playing {
    display: none;

    /* display: block; */
    position: absolute;
    bottom: 0;
    right: 0;

    /* width: 32px; */
    /* height: 32px; */
  }
}

.edge-progress-bar {
  .song-progress {
    position: fixed;
    bottom: 0.5em;
    left: 0;
    width: 100%;
    padding: 0.2em 0.6em;
  }

  .lyrics-timing {
    position: fixed;
    bottom: 0em;
    left: 0;
    width: 100%;
    padding: 0em 0.6em;

    /* transition: all 0.5s ease-in; */
  }
}

.right-seek-component-wrapper {
  position: fixed;
  height: 100vh;

  /* width: 50%; */
  display: block;
  top: 0;
  right: 0;
}

.right-seek-btn {
  position: fixed;
  display: block;
  background-color: gray;
  opacity: 1;
  font-size: 1.5em;
  right: 0;
  top: 50%;
  z-index: 3;
  padding: 1em 0.1em 1em 0.2em;
  transform: translateY(-50%);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.right-seek-hotspot {
  position: fixed;
  display: block;
  opacity: 0;
  top: 3em;
  right: 0;
  height: calc(100vh - 3em);
  width: 3em;
  z-index: 3;
}

.left-seek-btn {
  position: fixed;
  display: block;
  background-color: gray;
  opacity: 1;
  font-size: 1.5em;
  left: 0;
  top: 50%;
  z-index: 3;
  padding: 1em 0.2em 1em 0.1em;
  transform: translateY(-50%);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.left-seek-hotspot {
  position: fixed;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 3em;
  z-index: 3;
}

.notifications-container {
  position: fixed;
  width: calc(100vw - 3em);
  top: 1em;
  right: 1em;
  z-index: 3;
  overflow: hidden;
}

.notification {
  opacity: 0.8;
  margin-bottom: 0.5em !important;

  &:hover {
    opacity: 1;
  }
}

.audio-spectrum {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;

  /* background-color: white; */
  align-items: flex-end;

  > .freq-bar {
    flex: 1 0 auto;
    height: 0;
    border-top: solid 2px white;
    background-color: red;
    transition: height 0.1s ease;
  }
}

.audio-spectrum-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;

  /* background-color: white; */
  align-items: flex-end;

  > .freq-bar {
    flex: 1 0 auto;
    height: 0;
    margin: 0 2px;
    border-top: solid 2px white;
    background-color: red;
    transition: height 0.1s ease;
  }
}

.puff-in-hor {
  -webkit-animation: puff-in-hor 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-hor 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.playlist-view.container {
  background-color: white;
  padding: 1em;
}

#main-video {
  transition: all 0.5s ease-in-out;
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  border-radius: 1em;
  height: 500px;

  &.preview {
    height: 300px;
    right: 1em;
    bottom: 0.5em;
    top: auto;
    left: auto;

    /* transform: unset */
    transform: unset;
  }
}

.modal {
    z-index: 600;
}

.page-content {
  margin-top: 2em;
}

nav.navbar > div.navbar-brand > a.navbar-item > .header-logo {
  height: 2em;
}

.playback-controls {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2em;
    .control {
        flex: 1 1 auto;
        a, p {
            height: 100%;
            width: 100%;
        }
        .button {
            padding: 0;
            border: none;
        }
    }
}

.editor .playback-controls {
  position: relative;
  top: unset;
  right: unset;
  
}

.app {
    margin-top: 4em;
}

@media screen and (min-width: 320px) {
  .current-frame {
    width: 90vw;
  }
}

@media screen and (min-width: 1024px) {
  .notifications-container {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 25vw;
  }

  .playback-controls {
      width: unset;
      min-width: 300px;
      left: unset;
      right: 0;
      .button {
          padding: calc(0.5em - 2px) 1em;
      }
  }

  .current-frame {
    width: 70vw;
    font-size: 2rem;
  }

  .app {
    margin-top: 2em;
  }
}

.swing-in-top-fwd {
	  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.progress-bar {
    width: calc(100% - 1rem);
    display: block;
    height: 0.8rem;
    padding: 0px;
    margin: 0 0.5rem;
    background-color: rgba(255,255,255, 0.7);
    border: 1px solid black;
    border-radius: 0.3em;
    box-shadow: 0 0 1rem 0.1rem black;
    .progress-bar-value {
        height: 100%;
        border-radius: 0.3em;
        margin: 0;
        position: relative;
        display: block;
        transition: 0.5s width ease-out;
    }
    .progress-bar-label {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        z-index: 2;
        color: white;
        text-shadow: 0 0 3px black;
    }
}

.time-display {
    position: fixed;
    display: block;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgba(0,0,0,0.3);
    bottom: 0;
    z-index: 2;
    @media screen and (min-width: 320px) {
        bottom: 2em;
        left: 50%;
        transform: translate(-50%);
        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @media screen and (min-width: 1024px){
        left: 50%;
        transform: translate(-50%);

        bottom: unset;
        margin: 0.5em;
        top: 0;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.shadow {
    box-shadow: 0px 5px 12px 4px #797878;
}



    /* from */
    /* background-position-x: -100vw */
    /*                        to */
/*                        background-position-x: 0 */


$bg-color1: #bc2f22;
$bg-color2: #22b0bd;


@mixin backgroundLanding() {
    background-image:  linear-gradient(-60deg, transparentize($bg-color2, .3) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200vw auto;
}

@keyframes aniSlideLanding {
    0% {
        background-position-x: -100vw;
    }
    100% {
        background-position-x: 0;
    }
}

.animated-bg {
    /* position:relative; */
    /* z-index: 100; */
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation-name: aniSlideLanding;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include backgroundLanding();
    background-color: $bg-color1;
    &::before,&::after {
        display: block;
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include backgroundLanding();
        animation-name: aniSlideLanding;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    &::after {
        z-index: -2;
        animation-duration: 5s;
        animation-direction: alternate;
    }
}

/* &__background */
/* position: relative */
/*                   background-color: $color-blue */
/*                   &::before, &::after */
/*                                   display: block */
/*                                                                                                      content: '' */
/*                    i                                                                                                position: absolute */
/*                                                                                                                             z-index: -1 */
/*                                                                                                                                       top: 0 */
/*                                                                                                                                            left: 0 */
/*                                                                                                                                                  right: 0 */
/*                                                                                                                                                         bottom: 0 */
/*                                                                                                                                                                 @include backgroundLanding() */
/*                                                                                                                                                                 animation: */
/*     name: aniSlideLanding */
/*           duration: 4s */
/*                     timing-function: ease-in-out */
/*                                      iteration-count: infinite */
/*                                                       direction: alternate-reverse */
/*                                                                  &::after */
/*                                                                     z-index: -2 */
/*                                                                              animation: */
/*     duration: 5s */
/*               direction: alternate``` qr */
