
.current-frame  {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(255,255,255, 0.8);
    padding: 0.3em;
    border-radius: 1em;
}

.song-table {
    background-color: unset;
    color: black;
    text-shadow: 0 0 10px white;
}
.app-bg {
    /* display: inline; */
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../images/Dolphin.jpg") 50% 50%;
    background-size: cover;
}

.current-frame .frame-text > span {
    opacity: 0.6;
    /* transition: all 0.2s ease-out; */
    color: black;
    transition: all 0.5s ease-out;
    font-family: 'Montserrat', sans-serif;
    text-shadow:  -2px -2px 1px #eee;
}
.current-frame .frame-text > span.highlighted {
    color: red;
    opacity: 1;
    font-size: 1.05em;
    transform: translate(10px, 50px);
}

.current-frame .frame-text > span.highlighted .icon {
    color: black;
}
.contorl-panel {
    transition: all 2s ease-out;
 
}
.control-panel.song-playing {
    display: none;
}

.edge-stop-btn {
    display:none;
}
.edge-stop-btn.song-playing {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 32px; */
    /* height: 32px; */
}

.edge-progress-bar .song-progress {
    position: fixed;
    bottom: 0.5em;
    left: 0;
    width: 100%;
    padding: 0.2em 0.6em;
}
.right-seek-component-wrapper {
    position: fixed;
    height: 100vh;
    /* width: 50%; */
    display: block;
    top:0;
    right: 0;
}

.right-seek-btn {
    position: fixed;
    display: block;
    background-color: gray;
    opacity: 1;
    font-size: 1.5em;
    right: 0;
    top: 50%;
    z-index:3;
    padding: 1em 0.1em 1em 0.2em;
    transform: translateY(-50%);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.right-seek-hotspot {
    position: fixed;
    display: block;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 3em;
    z-index: 3;
}
.left-seek-btn {
    position: fixed;
    display: block;
    background-color: gray;
    opacity: 1;
    font-size: 1.5em;
    left: 0;
    top: 50%;
    z-index:3;
    padding: 1em 0.2em 1em 0.1em;
    transform: translateY(-50%);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.left-seek-hotspot {
    position: fixed;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 3em;
    z-index: 3;
}

.notifications-container {
    position: fixed;
    width: calc(100vw - 3em);
    top: 1em;
    right: 1em;
    z-index: 3;
    overflow:hidden;
}

.notification {
    opacity: 0.8;
    margin-bottom: 0.5em !important;
}

.notification:hover {
    opacity: 1;
} 


.audio-spectrum {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    /* background-color: white; */
    align-items: flex-end;
}
.audio-spectrum>.freq-bar {
    flex: 1 0 auto;
    height: 0;
    border-top: solid 2px white;
    background-color: red;
    transition: height 0.1s ease;
}

.audio-spectrum-overlay {
    position: fixed;
    top: 0;
    left:0;

    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    /* background-color: white; */
    align-items: flex-end;
}

.audio-spectrum-overlay>.freq-bar {
    flex: 1 0 auto;
    height: 0;
    margin: 0 2px;
    border-top: solid 2px white;
    background-color: red;
    transition: height 0.1s ease;
}

.playlist-view.container {
    background-color: white;
    padding: 1em;
}


@media screen and (min-width: 1024px) {
    .notifications-container {
        position: fixed;
        top: 1em;
        right: 1em;
        width: 25vw;
    }
    .current-frame {
        font-size: 2rem;
    }

    .app {
        margin-top: 2em;
    }
}
