{"Eurythmics-sweet dreams" -2500, "Cyndi Lauper-girlsfun cyndi lauper" -2500, "Beach Boys-california girls beachboys" -1000, "Bangles-Bangles The   Eternal Flame" -2000, "thriller" -2000, "Commodores-Easy Like Sunday Morning" -1000, "Rolling Stones-all over now rolling stones" 0, "Credance Clearwater Revival-Fortunate Sone" -500, "Huey Lewis and the News-Hip to be Square" -2500, "Eagles-Hotel California" -1000, "Beach Boys-Fun Fun Fun" -2000, "Pseudo Echo-Funky Town" 0, "Led Zepplin-good times bad times led zeppelin" -3000, "ELVIS Heartbreak hotel" -5000, "Credance Clearwater Revival-Have you ever seen the rain" 0, "ELVIS Good luck charm" -1000, "Marty Robbins-El Paso" 0, "Whitesnake-Here I go Againg" 0, "Beach Boys-Good Vibrations" -2000}
