{:title "diary", :date "2020-12-14T23:51:54.664Z", :type :song-data, :tempo-bpm 85.000046, :division-type 0.0, :resolution 240, :frames ({:type :frame-event, :ticks 4800, :events ({:type :lyrics-event, :offset 0.0, :ticks 0, :text "VERSE", :midi-type 1} {:type :lyrics-event, :offset 90352.89251732723, :ticks 30720, :text "2ND", :midi-type 1}), :offset 14117.639455832381})}