{:title "killingmesoftly", :date "2020-12-14T23:44:58.390Z", :type :song-data, :tempo-bpm 120.0, :division-type 0.0, :resolution 240, :frames ({:type :frame-event, :ticks 22080, :events ({:type :lyrics-event, :offset 0.0, :ticks 0, :text "VERSE", :midi-type 1} {:type :lyrics-event, :offset 24000.0, :ticks 11520, :text "CHORUS", :midi-type 1} {:type :lyrics-event, :offset 52000.0, :ticks 24960, :text "VERSE", :midi-type 1} {:type :lyrics-event, :offset 76000.00000000001, :ticks 36480, :text "CH", :midi-type 1} {:type :lyrics-event, :offset 104000.0, :ticks 49920, :text "VERSE", :midi-type 1} {:type :lyrics-event, :offset 128000.0, :ticks 61440, :text "CH", :midi-type 1} {:type :lyrics-event, :offset 156000.0, :ticks 74880, :text "AHH", :midi-type 1}), :offset 46000.0})}