{:title "oppositesattract", :date "2020-12-14T23:50:26.808Z", :type :song-data, :tempo-bpm 120.0, :division-type 0.0, :resolution 240, :frames ({:type :frame-event, :ticks 8640, :events ({:type :lyrics-event, :offset 0.0, :ticks 0, :text "VERSE", :midi-type 1} {:type :lyrics-event, :offset 48000.0, :ticks 23040, :text "CHORUS", :midi-type 1} {:type :lyrics-event, :offset 64000.0, :ticks 30720, :text "STP", :midi-type 1} {:type :lyrics-event, :offset 72000.0, :ticks 34560, :text "BRK", :midi-type 1} {:type :lyrics-event, :offset 88000.00000000001, :ticks 42240, :text "CH", :midi-type 1}), :offset 18000.0})}