{:title "sweetsurrender", :date "2020-12-14T23:51:03.107Z", :type :song-data, :tempo-bpm 85.000046, :division-type 0.0, :resolution 240, :frames ({:type :frame-event, :ticks 4800, :events ({:type :lyrics-event, :offset 0.0, :ticks 0, :text "VERSE", :midi-type 1} {:type :lyrics-event, :offset 45176.446258663615, :ticks 15360, :text "BRIDGE", :midi-type 1} {:type :lyrics-event, :offset 67764.66938799543, :ticks 23040, :text "VERSE", :midi-type 1}), :offset 14117.639455832381})}